.first-prg-revers {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 4.5rem;
}

.prg-texts {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
  margin-right: 70px;
}

.prg-text h2 {
  padding-bottom: 1rem;
}

.images {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.images img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -px 1px 62px -18px rgba(0, 0, 0, 0.19);
  margin-left: 200px;
}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 850px) {
  .program {
    margin: 4rem 2rem;
  }
  .first-prg {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .first-prg-revers {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4.5rem;
  }

  .prg-text {
    width: 100%;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }

  .image img {
    height: 250px;
  }
}
